.idea
.git/
.gitignore
.gitattributes
.styleci.yml
.env
.env.backup
.env.example
.editorconfig
.phpunit.result.cache
stubs
vendor
node_modules
Dockerfile
bootstrap/cache/*
storage/api-docs/*
storage/app/public/*
storage/app/tmp/*
storage/framework/cache/data/*
storage/framework/cache/sessions/*
storage/framework/cache/testing/*
storage/framework/cache/views/*
storage/logs/*
storage/*.key
README.md
public/hot
public/storage
public/.htaccess
public/web.config
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package.json
phpunit.xml
webpack.mix.js
